<html>
<head>
	<title>aka.ci</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="script.js"></script>
</head>
<body style="width:100%; text-align:center; font-family: Helvetica, Tahoma, Arial;">
	<div style="padding:10%;">
		<p>Redirecting to <a href="REPLACE_THIS_REPLACE_THIS">REPLACE_THIS_REPLACE_THIS</a> </p>
	</div>
<script language="javascript" type="text/javascript">
      setTimeout(function f(){
        window.location.href="REPLACE_THIS_REPLACE_THIS"; 
      }, 10);
</script>
</body>
</html>